/* Général */

@font-face {
    font-family: 'ballparkweiner';
    src: url('polices/ballpark.eot') format('eot'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('ttf'),
         url('polices/ballpark.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'day_romanregular';
    src: url('polices/dayrom.eot') format('eot'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.svg') format('svg'),
         url('polices/dayrom.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

#container {
    position: relative;
    width: 950px;
    margin: auto;
}

body
{    
    background: url(images/fond_jaune.png) top left;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}

section h1, footer h1, nav a
{
    font-family: day_romanregular, serif;
    font-weight: normal;
    text-transform: uppercase;
}



/* Header */

header {
  display: flex;
  justify-content: space-between;
}

header:nth-child(1) {
    padding-left: 30px;
}

#logo {
    display: flex;
    align-items: flex-end;
    margin-top: 10px;    
}

.zozor {
    font-family: ballparkweiner;
    font-size: 1.8em;
    position: absolute;
    left: 100px;
    top: 60px;
}

header p {
    margin: 0;
}

header:first-child div + p {
    margin-top: 15px;
}

#menu {
    display: flex;
    align-items: flex-end;
    margin-right: 30px;
}

header nav{
    width: 280px;
}

header nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: #181818;
}

header nav a:hover {
    color: #760001;
    border-bottom: 3px solid #760001;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

/* Séparateur */

.separateur {
    background: url(images/separateur.png) repeat-x;
    height: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}


#content {
    width: 890px;
    margin: auto;
}

/* Bannière */
#banniere {
    position: relative;
    background: url(images/sanfrancisco.jpg) no-repeat top left;
    height: 219px;
    border-radius: 5px;
}

#bandeau {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #070606ae;
    color: white;
    width: 100%;
    height: 35px;
    line-height: 35px;
    border-radius: 5px;
}

#bandeau p {
    margin: 0 0 0 10px;
    padding: 0;
    font-size: 0.625em;
}

#bandeau a {
    display: block;
    width: 100px;
    height: 25px;
    background-color: #760001;
    border-radius: 5px;
    color: white;
    font-size: 0.625em;
    margin: 0 7px 5px 0;
    padding: 0 0 5px 10px;
    line-height: 23px;
    text-decoration: none;
    font-weight: 700;
}

/* Article - Aside */

#articles-aside div {
    display: flex;
    align-items: flex-end;
}

#articles-aside div img {
    padding-top: 10px;
}

#articles-aside div h1 {
    font-size: 1.2em;
    margin: 0 0 10px 10px;
}

#articles-aside {
    display: flex;
    justify-content: space-between;
}

#articles-aside article p {
    font-size: 0.75em;
}

section#left {
    width: 690px;
}

aside {
    position: relative;
    width: 190px;
    height: 320px;
    background: #706B64;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
}

#bulle {
    position: absolute;
    top: 138px;
    left: -10px;

}

aside header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
}

aside header h1 {
    font-size: 0.75em;
}

aside section p {
    font-size: 0.55em;
}

aside section:first-child {
    margin-top: 8px;
}

aside section:nth-child(2) {
    margin-top: 8px;
    margin-bottom: 8px;
}

#reseaux img {
    width: 32px;
}

/*  footer */

footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

#icone {
    position: absolute;
    left: 50%;
    top: -14px;
}

footer h1 {
    font-size: 0.8em;
}

#tweet p {
    font-size: 0.7em;
}

#amis {
    display: flex;
}

#amis h1 {
    text-align: center;
}

#amis ul {
    list-style-image: url(images/ico_liensexterne.png);
}

#amis a {
    color: #760001;
    text-decoration: none;
    font-size: 0.7em;
}

#right {
    margin-top: 28px;
}

/* Fin */

